.demo-container {
    overflow: visible;
}

.flex-container {
    display: flex;
    flex-direction: column;
}


#toolbar {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    z-index: 10000;
}

